<div class="container">
	<div class="row">
		<div class="col-3">
			<%= link_to user_path(current_user) do %>
					<li>ホーム</li>
			<% end %>
			<li>通知</li>
			<li>メッセージ</li>
			<%= link_to contacts_path do %>
					<li>お問い合わせ</li>
			<% end %>
			<li><%= link_to edit_user_path(current_user) do %>
					プロフィール
				<% end %>
			</li>
			<li>投稿</li>
		</div>
		<div class="col-6">
			<div class="row">
				<div class="col-12">
					<%= @user.name %>
				</div>
				<div class="col-12">
					<div class="new">
						<%= form_for(@post) do |f| %>
							<%= f.text_area :body %>
							<%= f.file_field :post_image %>
							<%= f.file_field :post_video %>
							<%= f.submit '投稿する' %>
						<% end %>
					</div>
				</div>
				<div class="col-12">
					自分がフォローしている人の投稿一覧
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="row">
				<div class="col-8 offset-4">
					<p>HOT ユーザー</p>
				</div>
				<div class="col-7 offset-5">
					<p>一週間で最もフォローされたユーザ５人</p>
				<div>
				<div class="col-8 offset-4">
					<p>おすすめユーザー</p>
				</div>
				<div class="col-7 offset-5">
					<p>自分がフォローしているユーザーがフォローしているユーザー</p>
				</div>
			</div>
		</div>
	</div>
</div>
