<div class="container">
	<div class="row">
		<button id="modal-open">作成する</button>
		<%= @user.contacts.each_with_index do |contact, index| %>
			<div class="col-4">
				<div id="contact-title_<%= index %>">
					<%= contact.title %>
				</div>
				<% if contact.reply.present? %>
					<div class="contact-update">
						回答日:<%= contact.update_at %>
					</div>
				<% else %>
					<div class="contact-create">
						お問い合わせ日:<%= contact.created_at %>
						返信をお待ちください
					</div>
				<% end %>
			</div>
			<div class="col-8">
				<div id="contact-content_<%= index %>">
					<%= contact.title %>
					<%= contact.body %>
					<% if contact.reply.present? %>
						<p>@user.name 様</p>
						<p>お問い合わせありがとうございます</p>
						<%= contact.reply %>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>
